@model YourNamespace.AddSampleViewModel

@{
    ViewData["Title"] = "Add Sample";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="DongSongId" class="control-label">DongSong</label>
        <select asp-for="DongSongId" class="form-control" asp-items="@Model.DongSongs"></select>
        <span asp-validation-for="DongSongId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ViTriLayMauId" class="control-label">Vi tri</label>
        <select asp-for="ViTriLayMauId" class="form-control" asp-items="@Model.ViTriLayMaus"></select>
        <span asp-validation-for="ViTriLayMauId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Date</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Wo" class="control-label">Wo</label>
        <input asp-for="Wo" class="form-control" />
        <span asp-validation-for="Wo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Qo" class="control-label">Qo</label>
        <input asp-for="Qo" class="form-control" />
        <span asp-validation-for="Qo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId" class="control-label">Employee</label>
        <input asp-for="EmployeeId" class="form-control" />
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Chat Values</label>
        @foreach (var chat in Model.ChatValues.Keys.ToList())
        {
            <div class="form-group">
                <label asp-for="@Model.ChatValues[chat]" class="control-label">@chat</label>
                <input asp-for="@Model.ChatValues[chat]" class="form-control" name="ChatValues[@chat]" />
                <span asp-validation-for="@Model.ChatValues[chat]" class="text-danger"></span>
            </div>
            
        }
    </div>
    <div class="form-group">
        <label asp-for="WQI" class="control-label">WQI</label>
        <input asp-for="WQI" class="form-control" />
        <span asp-validation-for="WQI" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MucDoONhiem" class="control-label">Muc do o nhiem</label>
        <input asp-for="MucDoONhiem" class="form-control" />
        <span asp-validation-for="MucDoONhiem" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
