@model IEnumerable<DACS.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Employees</h2>
@using (Html.BeginForm())
{
    <div style="position: relative;">
        <input type="text" id="txtSearchPlaceholder" style="position:
    absolute; background-color: transparent; color: #ccc; z-index: -1; width:
    50%;" disabled />
        <input type="text" id="txtSearchem" name="searchString" style="position:
relative; background-color: transparent; z-index: 1; width: 50%;" /><input type="submit" value="Tìm kiếm" />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                   @*  <a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.Id">Delete</a> *@
                    <form asp-action="LockAccount" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input type="submit" value="Lock" />
                    </form>
                    <form asp-action="UnlockAccount" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <input type="submit" value="Unlock" />
                    </form>
                   
                </td>
            </tr>
        }    
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }

    </tbody>
</table>
