@model List<DACS.Models.CTCacChat>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Nhập giá trị cho các chất";
    var chats = ViewBag.Chats as List<DACS.Models.Chat>;
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateCTCacChat" asp-area="Employee" asp-controller="Chat" method="post" class="needs-validation" novalidate>
    <input type="hidden" name="phieuLayMauId" value="@ViewBag.PhieuLayMauId" />
    <div class="card">
        <div class="card-body">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="form-group">
                    <label for="@($"GiaTri_{chats[i].Id}")">@chats[i].Name</label>
                    <input type="hidden" asp-for="@Model[i].ChatId" />
                    <input type="hidden" asp-for="@Model[i].PhieuLayMauId" />
                    <input type="number" class="form-control" id="@($"GiaTri_{chats[i].Id}")" name="CTCacChats[@i].GiaTri" min="0" step="any" required>
                    <div class="invalid-feedback">
                        Please enter a valid non-negative number.
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Lưu</button>
    </div>
</form>
